body {
	background-color: rgb(249, 249, 178);
	text-align: center;
	border: 0;
}

h1 {
	font-family: "Sofia Sans", sans-serif;
}

h2 {
	font-family: "Sofia Sans", sans-serif;
	font-size: 4em;
}

.hello {
	margin-bottom: 0;
	font-size: 2.6em;
}
.bio {
	font-size: 2em;
	margin-top: 10px;
}

h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 3em;
	margin-top: 80px;
}

.leaf-village {
	width: 100%;
	height: auto;
	margin: 0px;
	opacity: 0.7;
}

.profile {
	text-align: center;
}

.profile-pic {
	width: 300px;
	height: auto;
	border-radius: 50%;
}

.top-container {
	position: relative;
	text-align: center;
	background-color: rgb(249, 249, 178);
}

.Intro-1 {
	position: absolute;
	bottom: 20%;
	left: 25%;
	font-size: 6.5em;
}

.Intro-2 {
	position: absolute;
	bottom: 10%;
	left: 32%;
	font-size: 5.5em;
}

.middle-container {
	padding-top: 50px;
}

.Shadow-clone {
	width: 400px;
	height: auto;
	float: right;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	margin-right: 15%;
	margin-left: 50px;
}

.Rasengan {
	width: 400px;
	height: auto;
	float: left;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	margin-left: 15%;
	margin-right: 50px;
}

.Sexy-Jutsu {
	width: 400px;
	height: auto;
	float: left;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	margin-left: 15%;
	margin-right: 50px;
}

.skill-bio1 {
	font-size: 2em;
	margin-left: 20%;
	margin-right: 10%;
	margin-top: 50px;
	margin-bottom: 170px;
}

.skill-bio2 {
	font-size: 2em;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50px;
	margin-bottom: 100px;
}

.skill-bio3 {
	font-size: 2em;
	margin-left: 20%;
	margin-right: 10%;
	margin-top: 50px;
	margin-bottom: 100px;
}

p {
	font-family: "Sofia Sans", sans-serif;
}

.footer-link {
	margin: 50px;
}

.contact-me {
	font-size: 1.5em;
}

a {
	font-family: "Sofia Sans", sans-serif;
}

hr {
}
